# Dossier propre a l'enviromment du devloppement

.vs/
src/.vs/
src/RogueProject/.vs/
src/RogueProject/bin/
src/RogueProject/obj/Debug/
src/RogueProject/obj/Release/
src/RogueProject/bin/Debug/
src/RogueProject/bin/Release/
src/RogueProject/Content/obj/
src/RogueProject/Content/bin/
src/RogueProject/obj/

src/RogueProject/obj/project.nuget.cache
